@using Message = Task.Domain.Message
@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Message>

@{
    ViewData["Title"] = $"Messages - {User.FindFirst(ClaimTypes.NameIdentifier)?.Value}";
}


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col">
                    <div class="row">
                        <h2 class="modal-title fs-5" id="modal-title">Title:</h2>
                    </div>
                    <div class="row">
                        <h2 class="modal-title fs-6" id="modal-date">Date:</h2>
                    </div>
                    <div class="row">
                        <h2 class="modal-title fs-6" id="modal-sender">Sender:</h2>
                    </div>
                </div>
            </div>
            <div class="modal-body" id="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm send-container mb-3">
            <div class="col fw-bold fs-3 mb-3">Send a message</div>
            <form autocomplete="off" action="">
                <input id="current-user" type="hidden" value="@User.FindFirst(ClaimTypes.NameIdentifier)?.Value">
                <div class="col">
                    <div class="form-floating mb-3 autocomplete">
                        <input required="required" maxlength="50" type="text" class="form-control recipient-input" id="floatingInput" placeholder="Recipient">
                        <label for="floatingInput">Recipient</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input id="send-title" required="required" maxlength="60" type="text" class="form-control" placeholder="Title">
                        <label for="floatingInput">Title</label>
                    </div>
                </div>
                <div class="form-floating">
                    <textarea required="required" maxlength="2398" class="form-control send-body" placeholder="Body" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Body</label>
                </div>
                <button id="send-btn" type="button" class="btn btn-lg btn-primary mt-2">Send</button>
            </form>

            <div class="error-container mt-3">
                
            </div>
        </div>

        <div class="col-md">
            <div class="col fw-bold fs-3 mb-3">All messages</div>

            <div class="message-container">
                @foreach (var message in Model)
                {
                    <div class="col message" onclick="showMessage(this)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <div class="row message-title">Title: @message.Title</div>
                        <div class="row message-sender">Sender: @message.Sender</div>
                        <div class="row message-date">Date: @message.Date.ToString("MM.dd.yyyy H:mm")</div>
                        <div class="row message-body">
                            @message.Body
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>

<script src="~/lib/signalr.min.js"></script>
<script src="~/js/message.js"></script>
<script src="~/js/addMessageToList.js"></script>
<script src="~/js/autocomplete.js"></script>